.item {
  text-decoration: none;
  cursor: pointer;

  padding: 40px;
  background: #F7F7F8;
  border-radius: 16px;
  width: 300px;

  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
  color: #6534FF;

  &:hover {
    color: var(--white-color);
    background: var(--purple-color);
    transition: all .4s ease-in;
  }
}