form {
  border: 1px solid var(--purple-color);
  border-radius: 20px;
  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  width: 580px;
  height: 500px;
}

input {
  border: 1px solid rgba(101, 52, 255, 0.5);
  border-radius: 16px;
  height: 40px;

  font-family: 'Inter', sans-serif;
  font-size: var(--fs-small);
  font-weight: 500;

  padding: 5px 15px;
}

.errorInput {
  border: 1px solid #ff3f3c;
}

input::placeholder {
  color: #C3C3C6;
}

input:focus {
  outline: none;
}

select {
  border: 1px solid rgba(101, 52, 255, 0.5);
  border-radius: 8px;
  height: 40px;
  width: 240px;

  font-family: 'Inter', sans-serif;
  font-size: var(--fs-small);
  font-weight: 500;

  padding: 10px 20px;
  appearance: none;

  option {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
  }

  option:hover {
    box-shadow: 0 0 10px 100px #1882A8 inset;
  }
}

select:focus {
  outline: none;
}

.btn {
  padding: 12px 30px;
  text-decoration: none;
  font-weight: 500;
  border-radius: 16px;
  background: rgba(101, 52, 255, 1);
  border: 1px solid rgba(101, 52, 255, 1);
  color: var(--white-color);

  font-size: 15px;
  font-family: 'Inter', sans-serif;

  cursor: pointer;
}

.errors {
  span {
    color: #ff3f3c;
    font-size: 12px;
    padding-left: 10px;
  }
}

.inputFile {
  position: relative;
  display: inline-block;
}
.inputFile span {
  width: 240px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: var(--fs-small);
  vertical-align: middle;
  color: var(--white-color);
  text-align: center;
  border-radius: 8px;
  background-color: var(--purple-color);
  line-height: 22px;
  height: 40px;
  padding: 10px 20px;
  box-sizing: border-box;
  border: none;
  margin: 0;
  transition: background-color 0.2s;
}
.inputFile input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

/* Focus */
.inputFile input[type=file]:focus + span {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Hover/active */
.inputFile:hover span {
  background-color: #3910bd;
}
.inputFile:active span {
  background-color: #7147ff;
}