.list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.btnWrapper {
  align-self: center;
}